<h4>NPC Roster</h4>
<% @gm_characters.each do |character| %>
<div class="character name">
  <!-- TODO: Make this a link to the character's show page -->
  Character: <%= character.name.titleize %>
</div>
<% end %>
