<h4>NPC Roster</h4>
<% gm_characters.each do |character| %>
  <div class='character name'>
    <%= link_to character.name.titleize, campaign_character_path(character.campaign, character) %>
  </div>
<% end %>

<% if current_user == campaign.user %>
  <%= link_to 'Create new character?', new_campaign_character_path(@campaign) %>
<% end %>
