<h3 class='camapigns-header'>Your Campaigns</h3>
<%= render partial: "sessions/logout_button" %>

<ul class='campaigns'>
  <% @campaigns.each do |campaign| %>
    <li><%= link_to campaign.title, campaign_path(campaign) %></li>
  <% end %>
</ul>
