<h3><%= @campaign.title %></h3>

<% if current_user == @campaign.user %>
  <div class="edit-button btn">
    <%= link_to 'Edit Campaign Details', edit_campaign_path %>
  </div>
<% end %>

<h4>Chapters</h4>

<% @chapters.each do |number, title| %>
  <div class='chapter-tab'> <%= number %>. <%= title %> </div>
<% end %>
